.section-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    h2 {
      grid-area: title;
      width: 100%;
    }
    p {
      grid-area: paragraph;
      @media only screen and (min-width: $desktopBreakpoint) {
        height: 100%;
        margin-top: 36px;
      }
    }
    ul {
      grid-area: data;
      margin: 20px 0;
      padding: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      justify-items: center;
      align-items: center;

      @media only screen and (min-width: $desktopBreakpoint) {
        margin: 20px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
    }
  }
}
