.section-about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    h2 {
      grid-area: title;
      width: 100%;
    }
    p {
      grid-area: paragraph;
      //text-align: justify;
    }
    img {
      grid-area: data;
    }
    grid-template-areas:
      "data        data       data       data        data      data"
      "title      title      title       title     title       title "
      "paragraph  paragraph   paragraph  paragraph   paragraph paragraph";

    @media only screen and (min-width: $desktopBreakpoint) {
      grid-template-areas:
        "title       title      title  title   title    title"
        "paragraph   paragraph  paragraph    data    data     data"
        "paragraph   paragraph  paragraph    data    data     data";
    }

    img {
      align-self: self-end;
      width: 250px;
      height: 250px;
      border-radius: 250px;
      @media only screen and (min-width: $desktopBreakpoint) {
        align-self: unset;
      }
    }
  }
}
