nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: $header-height;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  @media only screen and (min-width: $desktopBreakpoint) {
    background: black;
    justify-content: space-between;
    height: $header-height;
  }
}

.author {
  display: none;
  @media only screen and (min-width: $desktopBreakpoint) {
    display: flex;
    color: white;
    padding-left: 12%;
  }
}
.bar {
  background: black;
  color: $grayDark;

  height: $mob-button-height;
  width: 85%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  justify-content: center;
  align-items: center;

  border-radius: 44px;
  padding: 0 15px;

  @media only screen and (min-width: $desktopBreakpoint) {
    background: none;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    div {
      display: none;
    }
  }

  a {
    text-align: center;
    font-size: 13px;
    &:hover {
      color: white;
    }
  }
}

.nav-logo {
  position: absolute;
  background: black;
  border-radius: 60px;
  border: 1px solid $grayDark;

  @media only screen and (min-width: $desktopBreakpoint) {
    left: 20px;
    border: none;
    background: none;
  }

  img {
    height: 60px;
    width: 60px;
    @media only screen and (min-width: $desktopBreakpoint) {
      height: 50px;
      width: 50px;
    }
  }

  &:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
  }
}
