.section-technologies
  display: flex
  justify-content: center
  align-items: center

  .wrapper
    h2
      grid-area: title
      width: 100%

    p
      grid-area: paragraph

      line-height: 1.4

      @media only screen and (min-width: $desktopBreakpoint)
        height: 100%
        margin-top: 36px

    ul
      grid-area: data

  ul
    margin: 20px 0
    width: 100%
    padding: 0

    display: grid
    grid-template-columns: repeat(4, 1fr)

    li
      display: grid
      grid-template-rows: 50px 1fr
      overflow: hidden

      justify-content: center
      align-content: center
      align-items: center
      justify-items: center

      h3
        font-size: 11px
        text-align: center
        color: $grayDark
