
.*
!.gitignore

# Compiled class file
*.class

# Log file
*.log


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# files
node_modules/
build/
build

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Firebase Hosting
_.firebase
.firebase
.firebase/
.firebaserc
firebase-debug.log
firebase.json




# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.bin

npm-debug.log*
yarn-debug.log*
yarn-error.log*

todo
# deployment script
deploy.js