.section-about {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;

  img {
    align-self: self-end;
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }
}
