html
  scroll-behavior: smooth
  overflow-x: hidden

.App
  display: grid
  grid-auto-flow: row
  min-height: -webkit-fill-available

.accordions
  padding: 1em .5em
  display: grid
  row-gap: 1em
  @media only screen and (min-width: $tabletBreakpoint)
    padding: 3em 2em 5em
