.section-contact {
  height: fit-content;

  ul {
    padding-left: 20px;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin: 12px 0;

      svg {
        color: $grayDark;
      }
      h4 {
        margin-left: 12px;
      }
    }
  }

  footer {
    height: $footer-height;

    background: $grayDark;
    color: $grayLight;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 12px;

        svg {
          color: $grayLight;
          width: 24px;
          margin: 0;
        }
      }
    }
    span {
      font-size: 13px;
    }
  }
}
