nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: $header-height;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}
.nav-logo {
  position: absolute;
  background: black;
  border-radius: 60px;
  border: 1px solid $grayDark;
  img {
    height: 60px;
    width: 60px;
  }
}
.bar {
  background: black;
  color: $grayDark;

  height: $mob-button-height;
  width: 85%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  justify-content: center;
  align-items: center;

  border-radius: 44px;
  padding: 0 15px;
  a {
    text-align: center;
    font-size: 13px;
  }
}
