section {
  width: 100%;

  .wrapper {
    display: grid;
    gap: 16px;
    align-items: center;
    justify-items: center;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "title  title  title title title  title "
      "paragraph paragraph paragraph  paragraph  paragraph paragraph"
      "data data data data data data";

    margin: 80px 20px;

    @media only screen and (min-width: $desktopBreakpoint) {
      grid-template-areas:
        "title      title      title    title   title    title"
        "paragraph  paragraph  data     data    data     data"
        "paragraph  paragraph  data     data    data     data";

      max-width: 800px;
      margin: 70px auto;
    }
  }
}
